.table{
    background-color: rgb(221, 239, 255);
  }
  
  input[type=text],
  select {
    width: 50%;
    padding: 0px 0px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid rgb(25, 20, 20);
    border-radius: 2 px;
    box-sizing: border-box;
  }
  
  .navbar{

    background-color: rgb(216, 199, 70);
    
    }
  
  th {
    font-family: Georgia;
    text-align: center;
    font-size: 12px;
    background-color:lightskyblue;
    
  }
  
  td{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;}
    
  
    h2 {
      font-family: Georgia;
      color: white;
      padding-top: 00px;
      padding-bottom: 00px;
      padding-left: 550px;
    }
  
    .notification-badge {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color:rgb(2, 176, 2);
      color: white;
      border-radius: 50%;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      margin-left: 5px;
    }
    .notification-badge1 {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: red;
      color: white;
      border-radius: 50%;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      margin-left: 5px;
    }
    .check-status-button {
      /* Styles for the button */
      background-color: #f1f1f1;
      color: #333;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
    }
    
    .check-status-button:hover {
      /* Styles for the hover state */
      background-color: #ddd;
    }
    