
<html>
    <nav class="navbar navbar-dark bg-secondary" >

        <h2>Available Vehicle</h2>
      </nav>

    
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Vehicle Name</th>
            <th>Model Name</th>
            <th>Price/Day</th>
            <th>Driver Name</th>
        </tr>
    </thead>

    <tbody>

     <tr *ngFor="let t of driver">
            <td>{{t.vehicleName}}</td>
            <td>{{t.modelName}}</td>
            <td>{{t.price}}</td>
            <td>{{t.driverName}}</td>
            <!--<td><button type="submit" class="btn btn-primary" (click)="Booknow(t.driverId)" >Book Now</button></td>-->

        </tr>

    </tbody>
</table>


</html>

